<div class="container-fluid mb-25">
  <div class="row">
    <div class="col-sm-12">
      <h1>New business</h1>
    </div>
  </div>
</div>
<%= form_for @business do |f| %>
  <%= render 'form_fields', f:f %>
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-6 col-md-4 col-lg-3">
        <%= f.submit 'Save', class: 'btn btn-success' %>
      </div>
    </div>
  </div>
<% end %>
