<div class="container-fluid">
  <div class="row">
    <div class="col-sm-8 col-md-6">
      <div class="form-group">
        <%= f.label :name %>
        <%= f.text_field :name, class:'form-control', 
            minlength: 3, maxlength: 64, required: true %>
      </div>
    </div>
    <div class="col-sm-4 col-md-6">
      <div class="form-group">
        <%= f.label :price %>
        <%= f.number_field :price, class:'form-control', step:"0.01", 
            min:0.1, max:1_000_000_000, required: true %>
      </div>
    </div>
  </div>
</div>
