<div class="container-fluid">
  <nav class="breadcrumb">
    <%= link_to "List Itens", items_path(), class:"breadcrumb-item" %> /
    <span class="breadcrumb-item active">Show Item</span>
  </nav>
</div>
<div class="container-fluid mb-25">
  <div class="row">
    <div class="col-sm-12">
      <h1>Show Item</h1>
    </div>
  </div>
</div>
<fieldset disabled>
  <%= form_for @item do |f| %>
    <%= render 'form_fields', f:f %>
  <% end %>
</fieldset>
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-6 col-md-4 col-lg-3">
      <%= link_to "Edit", edit_item_path(@item), class: 'btn btn-primary' %>
    </div>
  </div>
</div>
